@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-zodiak);
}

*::-webkit-scrollbar {
  display: none;
}

.gradient__dark {
  background: linear-gradient(90deg, #505eb9, #242a53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__light {
  background: linear-gradient(90deg, #ca181d94, #640c0e94);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__line {
  background: radial-gradient(
    circle,
    rgba(34, 43, 101, 1) 0%,
    rgba(202, 24, 29, 0.58) 35%,
    rgba(241, 230, 215, 1) 100%
  );
}

.gradient__line__dark {
  background: radial-gradient(
    circle,
    rgba(34, 43, 101, 1) 0%,
    rgba(0, 0, 0, 0.58) 35%,
    rgba(241, 230, 215, 1) 100%
  );
}
